* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  background-color: #75cfff;
  background-image: url(Portbgimage.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: repeat;
  overflow-x: hidden;

  display: grid;
  grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr);
  grid-template-rows: auto auto auto auto auto auto auto;
  gap: 0;
}

.background {
  grid-column: 1 / 9;
  position: absolute;
  top: 450px;
  left: 0;
  width: 100%;
  height: 52%;
  z-index: -1;
  background-color: #132962;
}

header,
.home-bar,
main {
  grid-column: 2 / 8;
}

.site-header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #dcf8fd;
  margin: 0;
  padding: 0;
}

.site-header h1 {
  font-size: 4rem;
  margin: 0;
}

.site-header h1 a {
  color: #dcf8fd;
  text-decoration: none;
  text-shadow: -1px -1px 0 #132962, 1px -1px 0 #132962, -1px 1px 0 #132962, 1px 1px 0 #132962;
}

.logo {
  margin: 0;
  padding: 0;
  display: block;
}

.logo img {
  width: 125px;
  height: auto;
  margin: 0;
  padding: 0;
  display: block;
}

.home-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #495560;
  padding: 0;
  margin: 0;
  color: #dcf8fd;
}

.home-bar h2 {
  margin: 0.5rem;
  font-size: 2rem;
}

.home-bar img {
  margin: 0.5rem;
  width: 40px;
}

.main-content {
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 175px));
  grid-template-rows: auto auto;
  gap: 2rem;
  background-color: #dcf8fd;
  border: 5px solid #495560;
  padding: 1rem;
  grid-column: 2 / 8;
}

.intro {
  grid-column: 1 / -1;
  text-align: center;
}

.intro h2 {
  font-size: 4rem;
  color: #495560;
  margin: 0.5em 0;
}

.changeup {
  color: #63d7ff;
}

.intro h4 {
  font-size: 1.5rem;
  color: #495560;
  margin: 0;
}

.site-nav {
  grid-column: 1 / -1;
  grid-row: 2;
}

.site-nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 2rem;
  padding: 0;
  margin: 0;
}

.site-nav li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #495560;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  transition: transform 0.2s ease-in-out;
}

.site-nav li a:hover {
  transform: scale(1.1);
}

.site-nav img {
  width: 75px;
  margin-bottom: 0.5em;
}

.text-section {
  display: grid;
  grid-column: 1 / -1;
  padding: 1rem 0;
  font-size: 1.2rem;
  margin-bottom: 0;
}

.text-section h2 {
  width: 100%;
  margin: 0;
  text-align: center;
  padding: 0.5rem;
  grid-column: 1 / -1;
}

.text-section h2:nth-child(odd) {
  background-color: #f9ebce;
  color: #132962;
}

.text-section h2:nth-child(even) {
  background-color: #132962;
  color: #f9ebce;
}

.social-links {
  grid-column: 1 / 9;
  margin-top: 0;
  padding-top: 0;
}

.social-links h2 {
  background-color: #f9ebce;
  color: #132962;
  font-size: 2rem;
  text-align: center;
  padding: 0.5rem;
  margin: 0;
}

.social-links ul {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0;
  margin: 0;
  background-color: #132962;
}

.social-links img {
  width: 60px;
}

.social-links a:hover img {
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
}

.site-footer {
  grid-column: 1 / 9;
  background-color: #132962;
  color: #f9ebce;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
